html,
body {
  font-size: 18px;
  font-family: "helvetica", arial, sans-serif;
}

.active {
  text-decoration: underline;
}

a {
  color: $color--black;
  text-decoration: none;

  &:visited {
    color: $color--black;
    text-decoration: none;
  }

  &:hover {
    color: $color--black;
    text-decoration: underline;
  }
}
